node_modules
.env
typechain
typechain-types

# Hardhat files
cache
artifacts
/types
contracts/hardhat-dependency-compiler

deployed-contracts.json

coverage
.coverage_artifacts
.coverage_cache
.coverage_contracts
coverage.json
deployments/

